@charset "UTF-8";
#body{
	position:relative;
}
#mypage {
	margin-top: 100px;
}
#mypage_thead {
	background-color: #FFD662;
}
/* #qrcode */
#qrcode {
	width: 160px;
	height: 160px;
	margin: 15px 15px 15px 40px;
}
#pwCheck {
	margin: auto;
}
.PW {
	/* background-color: rgba(255,214,98,0.1); */
	border: 3px solid #FFD662;
	text-align: center;
	width: 80%;
    height: 30%;
	margin: auto;
}
/* 
.updateInfo {
	margin: 15px;
	padding: 15px;
}

.updateInfo th, .updateInfo td {
	border-bottom: 1px solid #ccc;
	padding: 15px;
}

.updateInfo td {
	padding: 5px;
	text-align: center;
}

.updateInfo th {
	background-color: #FFD662;
}

.upinfo th, .upinfo td {
	border: 0px solid #ccc;
	padding: 15px;
	margin: 15px;
	padding: 15px;
}

.upinfo th {
	background-color: #FFD662;
}

.table_kay th {
	color: #FFD662;
	margin: 15px;
} */
.trBtn {
	text-align: center;
}
/* 
.table_kay th, .table_kay td {
	padding: 15px;
}

.inputStyle {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 2px solid #FF0000;
	margin: 5px;
}
input[class=inputStyle]:focus {
	outline: none;
	border-bottom: 2px solid #FFD662;
}

input[class=inputStyle]:disabled {
	background-color: #FFF;
}

input[class=inputStyle]:disabled {
	background-color: #FFF;
	border-bottom: 2px solid #000;
} */
/* Removes the spin button */
input[class="date_kay"]::-webkit-inner-spin-button {
	display: none;
}
/* Always display the drop down caret */
input[class="date_kay"]::-webkit-calendar-picker-indicator {
	color: #FFD662;
	background-color: #fff;
}
/* A few custom styles for date inputs */
input[class="date_kay"] {
	appearance: none;
	-webkit-appearance: none;
	color: #95a5a6;
	font-family: "Helvetica", arial, sans-serif;
	font-size: 15px;
	border: none;
	padding: 5px;
	display: inline-block !important;
	visibility: visible !important;
}
input[class="date_kay"], focus {
	color: #95a5a6;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
/* ------------------ */
.User_Profile{
	list-style : none;
}
